[Unit]
Description=A service to camera with py
After=systemd-user-sessions.service

[Service]
Type=simple
#ExecStart=/home/pi/<this app directory name>/py/app.py
ExecStart=/home/pi/<this app directory name>/start.sh

User=root
Group=root

[Install]
WantedBy=multi-user.target